@model IEnumerable<ProjetFinalEval.tache>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutStablePage1.cshtml";
}

<ul class="page-breadcrumb breadcrumb">
    <li>

        <a href="~/Home/Accueil">Accueil</a>
        <i class="fa fa-circle"></i>
        <a href="~/Tache/Index">Liste des Tache</a>
        <i class="fa fa-circle"></i>
    </li>

</ul>

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box blue-madison">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-globe"></i>List des Projets
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>

                    <a href="javascript:;" class="reload">
                    </a>
                    <a href="javascript:;" class="remove">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-6">


                            <div class="clearfix">
                                <a href="@Url.Action("Create")" id="sample_editable_1_new" class="btn green">Creer <i class="fa fa-plus"></i></a>
                            </div>


                        </div>

                    </div>
                </div>
                <table class="table table-striped table-bordered table-hover" id="sample_1">
                    <thead>
                        <tr>

                            <th>
                                @Html.DisplayNameFor(model => model.NOMTACHE)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DATEDEBUTTACHE)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DATEFINTACHE)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.collaborateurtitulaire.NOM)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.projet.NOMPROJET)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NOMTACHE)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DATEDEBUTTACHE)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DATEFINTACHE)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.collaborateurtitulaire.NOM)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.projet.NOMPROJET)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.IDTACHE }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.IDTACHE }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.IDTACHE })
                                </td>
                            </tr>

                        }

                    </tbody>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
